/* sidebar style */

.sidebar-wrapper {
    padding: 1rem;
    background-color: #fff;
    border-left: 1px solid #e5e5e5;
  }
  
  .section {
    border-bottom: 1px solid #eee;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    width: 100%;
  }
  
  .section .auth{
    background-color: #fff9c4;
  }
  
  .section-title {
    font-weight: 600;
    margin-bottom: 1rem;
    color: #333;
  }
  
  .highlight-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.5rem;
  }
  
  .editor-box {
    height: 250px;
    padding: 1rem;
    border-radius: 0.5rem;
    overflow: hidden;
    transition: opacity 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .editor-img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 1rem;
  }
  
  .editor-name {
    font-size: 1rem;
    font-weight: 600;
  }
  
  .editor-affiliation {
    font-size: 0.875rem;
    color: #555;
    text-align: center;
    padding: 0 0.5rem;
  }
  
  .fade-in {
    opacity: 1;
  }
  
  .fade-out {
    opacity: 0;
  }
  
  .captcha-row {
    display: flex;
    gap: 0.5rem;
    margin-bottom: 1rem;
  }
  
  .captcha-row .custom-input {
    flex: 1;
  }
  
  .custom-input-refresh{
    border: 1px solid #ccc;
    padding: 0.4rem 0.75rem;
    justify-content: center;
    width: 70%;
    border-radius: 4px;
  }
  
  .custom-input-refresh:focus {
    border-color: #dc3545; 
    outline: none;
  }
  
  .submit-btn {
    padding: 0.6rem 1.2rem;
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.95rem;
    transition: background-color 0.3s;
  }
  
  .submit-btn:hover {
    background-color: #cc3f4d;
  }
  

  .custom-btn.refresh-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 3rem !important;
    color: rgb(235, 61, 61);
    font-weight: 500;
    border:  1px solid  #fb6b5e;;
  }
  
  .custom-btn.refresh-btn:hover{
    background-color: #ee4c5c;
  }

  .guidelines-wrapper {
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
}

/* .guidelines-card {
    padding: 10px;
    border-top: 1px solid #ccc;
} */

.guidelines-card {
  padding: 10px;
  border-top: 1px solid #ccc;
  cursor: pointer;
  transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out;
}

.guidelines-card:hover {
  background-color: #e8e8e8 !important;
}

.guidelines-card:active {
  background-color: #fb6a6a !important;
  color: white !important;
}

.guidelines-card.selected-card {
  background-color: #fb6a6a !important;
  color: white !important;
}


  
  